@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-size: 1.15em;
  font-weight: normal;
}

.swatch {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  height: 0;
}

.font1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.font2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}